.homepage {
  margin-top: 80px;
  section {
    @include respond-to('large') {
      overflow: hidden;
      margin: auto;
    }
  }
  .overflow {
    max-height: 900px;
    @include respond-to('huge') {
      max-height: 700px;
    }
  }
 .text-only {
   @include respond-to('large') {
     height: auto;
   };
  }
  h1 {
    display: none;
    @include respond-to('large') {
      display: flex;
    }
  }
  @include respond-to('large') {
    overflow: hidden;
  }
}
