$bighorn-brown: #A97C50;
$bighorn-tan: #DBB89E;
$bighorn-grey: #F7F6F8;

$breakpoints: (
  'small': (min-width: 600px),
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
  'standard': (min-width: 1300px),
  'extra-huge': (min-width: 1400px),
  'massive': (min-width: 1800px),
);
