.image-gallery {
  width: 100vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
  @include respond-to('small') {
    height: 60vh;
  }
  @include respond-to('medium') {
    height: 70vh;
  }
  @include respond-to('large') {
    height: 100vh;
  }
  img {
    min-width: 100vh;
    overflow: hidden;
    height: auto;
    @include respond-to('large') {
      min-height: 100vh;
      width: auto;
      max-width: 120vw;
    }

  }
}

.image-controls {
  display: flex;
  width: 100vw;
  height: 5vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span {
    background: content-box $bighorn-tan;
    width: 30vw;
    height: 2vh;
    padding-top: 15px;
  }
}
